<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="header text-center mb-4">
              <i class="bi bi-person-circle" style="font-size: 4rem; color: #0d6efd;"></i>
                <h3 class="text-center mt-2">Login Here</h3>
            </div>
            <form (ngSubmit)="submitForm($event)">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" 
                    name="email" [(ngModel)]="loginData.email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" [(ngModel)]="loginData.password">
                </div>
                <div class="text-center">
                  Don't have account ? <a href="/signup" [routerLink]="['/signup']">Click here</a>
                </div>
                <div class="text-center">
                  Don't remember password ? <a href="/reset-password" [routerLink]="['/reset-password']">Click here</a>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                    <button type="reset" class="btn btn-secondary btn-sm ms-2">Reset</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- {{loginData | json}} -->