/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

body{
    background-color: #F0EFEF;
}
// admin layout css
.admin-layout .sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
}

.admin-layout .content{
    margin-left: 255px;
    // border: 1px solid red;
}

.admin-layout .sidebar .nav-link:hover{
    background-color: #e2e2e2 !important;
    color: #000 !important;
}
.admin-layout .sidebar .nav-link.active{
    background-color: #e2e2e2 !important;
    color: #000 !important;
}

.custom-icon-size{
    height: 50px !important;
    width: 50px !important;
}

/* Tooltip styling */
.ql-toolbar .ql-formats button[title] {
    position: relative;
  }
  
  .ql-toolbar .ql-formats button[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .image-container img{
    max-height: 250px;
    width: auto;
  }